h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;

}
p{
    font-family: 'Roboto', sans-serif;
}
a{
    font-family: 'Raleway', sans-serif;
}
h5{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
strong{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
